__pycache__/
instance/
migrations/
reportenv/
venv/
errorlog.txt
logs.log
app/main/static/Reports/
app/main/static/uploads/
app/main/static/User_Reports/
app/main/static/TelgooReports/
pythonFiles/DatabaseBackups/
pythonFiles/telgooReports/Adding_New/
pythonFiles/Reimbursements/Reports/
pythonFiles/dropShipReports/Reports/
pythonFiles/ASR-Reports/Reports/
pythonFiles/previous_day_file.csv
pythonFiles/playingAround.py
pythonFiles/IgnoreFiles/
