{% extends 'base.html' %}
{% block title %}Select Program{% endblock title %}
{% block content %}
<main class="container-lg mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="p-4 bg-white rounded border border-dark shadow-sm mb-4">
                <h3>Current Program Names</h3>
                <ul>
                    {% for program in programs %}
                    <li>
                        <a href="{{url_for('plan_management.edit_program_name', program_name=program)}}">{{program}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</main>
{% endblock %}